/* Colors from reebok crossfit apparel theme: https://color.adobe.com/es/Reebok-CrossFit-Apparel-3-color-theme-7582648/
* dark-red: #D7073C
* light-red: #EF003D
* grey: #F1F8F8
* green: #7F9070
* yellow: #EFDB46
*/
.ui-content {
    background-color: #F1F8F8;
}

.ui-header {
	color: #F1F8F8;
    background-color: #7F9070;
    width: 100%;
}

.ui-header .ui-title {
    color: #F1F8F8;
    margin: 0;
}

.increase {
	padding-right: 50px;
    padding-top: 50px;
    float: right;
}

.decrease {
	padding-left: 50px;
    padding-top: 50px;
    float: left;
}

.ui-btn {
    background-color: #EF003D;
    color: #F1F8F8;
    font-weight: bold;
}

a.ui-btn:active:hover,
.ui-btn:enabled:active:hover {
    background-color: #D7073C
}

.ui-page .ui-footer.ui-bottom-button .ui-btn {
	background-color: #EF003D;
}

.ui-btn:enabled:focus {
    background-color: #D7073C;
}

.ui-popup .ui-popup-header {
    background-color: #7F9070;
    color: #F1F8F8;
}

.ui-popup .ui-popup-content {
    background-color: #F1F8F8;
    font-weight: bolder;
    color: #7F9070;
    padding-top: 60px;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n) {
	background-color: #EF003D;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n):active {
	background-color: #D7073C;
}

.ui-popup .ui-popup-footer.ui-side-button .ui-btn:nth-child(n)::after {
    background-color: #D7073C;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    -ms-transition: opacity 250ms;
    transition: opacity 250ms;
    opacity: 0;
    z-index: -1;
}

.ui-popup.ui-scroll-on:not(.ui-ctxpopup):not(.ui-popup-toast) .ui-popup-header+.ui-popup-content {
	padding: 30px 0 200px 0;	
}

.btn-icon-cancel {
    background: url(../img/cancel.png) no-repeat 50% 50%;
}

.btn-icon-ok {
    background: url(../img/ok.png) no-repeat 50% 50%;
}

body {
    color: #7F9070;
    text-align: center;
}

.roundsSumUp {
    text-align: center;
    font-size: larger;
    margin: 0;
}

.secondsLeft {
    text-align: center;
    font-weight: bolder;
    font-size: -webkit-xxx-large;
    margin: 0;
}

.selectText {
	margin: 0.8em 0;
	font-size: -webkit-xxx-large;
    font-weight: bolder;
}
