<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://www.digitalsingular.com/TabataTimer" version="1.0.0" viewmodes="maximized">
    <tizen:application id="w9MyIoBFGd.TabataTimer" package="w9MyIoBFGd" required_version="2.3.2"/>
    <author href="www.digitalsingular.com" email="agustinventura@gmail.com">Agustín Ventura</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="icon.png"/>
    <name>TabataTimer</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
